*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/MMS2Server-war/dist/
/build/
/MMS2Server-ejb/dist/
/MMS2Server-war/build/
/dist/
/MMS2Server-ejb/build/
/TenantSystemMMS2-war/build/
/TenantSystemMMS2-war/nbproject/private/
/TenantSystemMMS2-war/dist/
/CustomerSystemMMS2-war/build/
/CustomerSystemMMS2-war/nbproject/private/
/CustomerSystemMMS2-war/dist/